header {
  background: black;
  min-width: 350px;
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: $header-bgcolor;
    color: invert($font-color-primary);
    .hamburger {
      position: absolute;
      top: 12px;
      left: 5px;
      padding: 5px 8px;
      transition: 0.5s;
    }
    .logo {
      font-size: 1.7rem;
      font-weight: bolder;
      padding: 15px;
    }
  }
  nav {
    visibility: hidden;
    display: flex;
    width: 100%;
    max-height: 0;
    transition: max-height 1s cubic-bezier(0.05, 0.94, 0.49, 0.88),
      visibility 0.1s;
    li:first-of-type {
      position: relative;
    }
    .nav-dropdown {
      z-index: 1;
      display: none;
      visibility: hidden;
      position: absolute;
      background: transparent;
      box-sizing: border-box;
      padding: 38px 5px 5px 5px;
      left: -1em;
      li {
        padding: 5px;
        background: $header-bgcolor;
        &:first-of-type {
          @extend %triangle;
        }
      }
    }
    > ul {
      display: flex;
      width: 100%;
      padding: 10px 0;
      justify-content: space-between;
      list-style: none;
    }
    a {
      text-decoration: none;
      font-size: 1.2rem;
      padding: 5px 10px;
      color: invert($font-color-primary);
    }
  }

  @include tablet {
    .container {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      .logo {
        width: 40%;
        padding: 20px 0;
        background: none;
        font-size: 1.1rem;
      }
      .hamburger {
        display: none;
      }
    }
    .container nav {
      max-height: 50px;
      width: 60%;
      > ul {
        justify-content: flex-end;
        padding: 15px 0;
      }
    }
    .nav-link {
      font-size: 1rem;
      font-weight: bold;
    }
  }
  @include desktop {
    .logo {
      text-align: left;
    }
    nav {
      max-height: 50px;
      width: 60%;
      > ul {
        justify-content: flex-end;
        padding: 15px 0;
        .nav-link {
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
  }
}
