.prices{
    width: 100%;
    background: #F1F1F1;
    .container{
        background: inherit;
        padding: 20px 20px;
    }
}
.prices-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.prices-box {
    font-size: 0.7rem;  // Here change size of whole box
    text-align: center;
    border: solid 3px $boxes-border-color;
    position: relative;
    flex-grow: 1;
    background-color: $boxes-bg-color;
    margin: 10px 10px 50px 10px;
    max-width: 350px;
    transition: all 0.3s;
    .circle {
        @extend %prices-circle-top;
    }
    .circle2 {
        @extend %prices-circle-inner;
    }
    h3 {
        color: $secondary-color;
        font-weight: 400;
        font-size: 2em;
        padding: 1em 0;
    }
    .circle-price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        border: solid 3px $boxes-border-color;
        width: 10em;
        height: 10em;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 3em;
        * {
            color: $boxes-border-color;
        }
        .price {
            display: flex;
            font-size: 3.3em;
            font-weight: 900;
            position: relative;
            justify-content: center;
        }
        .pln-msc {
            font-size: 1.2em;
            font-weight: 700;
        }
        .upper-index {
            vertical-align: super;
            font-size: 0.4em;
            font-weight: 900;
        }
    }
    li{
        list-style: none;
        display: block;
        font-size: 2em;
        font-weight: 300;
        background-color: $boxes-li-bg-color;
        padding: 0.3em;
        color: $boxes-li-color;
        
    }
    li:nth-of-type(2),li:nth-of-type(4) {
        @extend %prices-li-even;
    }
    button {
        @include button(1.5em, 10em, 1em 1em 1em 1em, 0.5em 0);
    }
    @include desktop{
        font-size: 0.8rem;
        max-width: 450px;
        width: 30%;
        margin: 20px 20px 0 0;
        &:last-of-type{
            margin-right: 0;
        }
    }
}