.ham-clicked{
    transform: scale(1.1);
    color: $secondary-color;
}

.container nav.show {
    max-height: 50px;
}

.prices-box:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    background-color: $secondary-color;
    border: solid 3px $secondary-color;
    cursor: pointer;
    .box-button {
        background-color: white;
        color: $secondary-color;
    }
    h3 {
        color: white;
    }
    .circle-price {
        background-color: #F1F1F1;
        color: $secondary-color;
        border: #F1F1F1;
    }
    .circle-price span {
        color:$secondary-color;
    }
    .circle {
        background-color: inherit;
        border: $secondary-color;
    }
    .circle2{
        background-color: #F1F1F1;
        border: #F1F1F1;
    }
}

.contact-box div.thin-grenn-border.checkbox.checked{
    background: url("../images/form_ok.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  @keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: .8;
	}
}