*{
    font-family: 'Lato', sans-serif;
}

html{
    font-size: 16px;
}

section{
    width: 100%;
}
.section-header{
    @extend %section-headers;
}

.container{
    width: 100%;
    min-width: 365px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px
}

.green-letter {
    color:$secondary-color;
    font-weight: bolder;
}

.prices-box:first-of-type li:nth-of-type(3), .prices-box:first-of-type li:nth-of-type(4) {
    visibility: hidden;
}

.prices-box:nth-of-type(2) li:nth-of-type(4) {
    visibility: hidden;
}