$header-bgcolor: black;
$font-color-primary: black;
$secondary-color: #24BA9F;

%gallery-gradient {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(224,224,224,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=0 );
}

%products-border{
    border: solid 2px #DBDBDB;
}


%prices-circle-top{
    height: 70px;
    width: 70px;
    position: absolute;
    border-radius: 50%;
    border: inherit;
    box-sizing: border-box;
    background-color: inherit;
    z-index: 1;
    display: inline-block;
    left: 50%;
    top: -2%;
    transform: translate(-50%, -50%);
}

%prices-circle-inner{
    position: absolute;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    left: 50%;
    top: -2%;
    border: 3px solid #DBDBDB;
    box-sizing: border-box;
    background-color: #DBDBDB;
    z-index: 2;
    display: inline-block;
    transform: translate(-50%, -50%);
}