$header-bgcolor: black;
$font-color-primary: black;
$font-color-secondary: #7B7B7B;
$font-color-alt:#666666;
$font-color-form:rgb(173, 173, 173);
$secondary-color: #24BA9F;

$products-textblock-bg-color: #ffffff80;

$boxes-border-color: hsl(0, 0%, 78%);
$boxes-bg-color:#F9F9F9;

$boxes-li-bg-color: #E4E4E4;
$boxes-li-color:#969696;

$boxes-li-even-bg-color:#F1F1F1;
$boxes-li-even-color: $font-color-alt;